@tailwind base;
@tailwind components;
@tailwind utilities;

exports.config = {
    pligins: {
        postcss: {
            processors:[
                reqire('tailwindcss'),
            ]
        }
    }
}